<div class="container">
    <div class="title">
        <h1>Tendenza</h1>
    </div>
    <div class="cards-group">
        <div class="back-button">
            <img src="assets/Carousel_arrow.svg" alt="" width="30px" height="30px" class="carousel-control left"> 
        </div>
        <div class="cards">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
        <div class="forward-button">
            <img src="assets/Carousel_arrow.svg" alt="" width="30px" height="30px"  class="carousel-control">
        </div>
    </div>
</div>