<div class="container">
    <div class="left-section">
            <h1>Eventino</h1>
    <ul class="header-list">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/add-event">Add Event</a></li>
    </ul>
    </div>
<div class="right-section">
    <div class="navbar">
        <input type="text" placeholder="Find some event...">
    </div>
    <div class="login-section">
        @if(logged) {
            <app-profile-section-img></app-profile-section-img>
        } @else {
            <a routerLink="/login">Login</a>
        }        
    </div>
</div>
</div>