* {
    font-family: Arial, Helvetica, sans-serif;
}

.carousel {
justify-content: center;
display: grid;
}

.welcome {
    justify-content: center;
    display: flex;

    .title {
        font-weight: 300;
        color: rgb(83, 83, 83);
    }

    .sub-text {
        font-weight: 100;
        color: rgb(182, 182, 182);
    }
}