<div class="carousel">
    <app-carousel></app-carousel>
</div>
<div class="welcome">
    <div class="little-man-waving">
        <app-little-man-waving></app-little-man-waving>
    </div>
    <div class="welcome-text">
        <div class="title">
            <h1>Welcome to EVENTINO &copy; </h1>
        </div>
        <div class="sub-text">
            <p>Find an event to BE connected in a world who wants us to feel disconnected</p>
        </div>
    </div>
</div>
<div class="carousel">
    <app-carousel></app-carousel>
</div>
<div class="carousel">
    <app-carousel></app-carousel>
</div>
